@media (max-width: 1900px){
  .docs-section {
    width: calc(100vw/20*10/2);
    height: calc(.615*(100vw/20*10/2));
  }

}

@media (max-width: 1800px){
  .docs-section {
    width: calc(100vw/20*11/2);
    height: calc(.615*(100vw/20*11/2));
  }

}

@media (max-width: 1600px){
  .docs-section {
    width: calc(100vw/20*11/2);
    height: calc(.615*(100vw/20*11/2));
  }

}

@media (max-width: 1480px){
  .docs-section {
    width: calc(100vw/20*12/2);
    height: calc(.615*(100vw/20*12/2));
  }
  .content{
    margin-bottom: 25px;
  }
}

@media (max-width: 1280px){
  .docs-section {
    width: calc(100vw/20*14/2);
    height: calc(.615*(100vw/20*14/2));
  }

}

@media (max-width: 1080px){
  .docs-section {
    width: calc(100vw/20*16/2);
    height: calc(.615*(100vw/20*16/2));
  }
  .content{
    margin-bottom: 25px;
  }

}

@media (max-width: 900px){
  .docs-section {
    width: calc(100vw/20*18/2);
    height: calc(.615*(100vw/20*18/2));
  }

}

@media (max-width: 720px){
  .docs-section {
    width: calc(100vw/20*19/2);
    height: calc(.615*(100vw/20*19/2));
  }
  .fone{
    //height: auto;
  }
}

@media (max-width: 640px){

  .docs-section {
    width: calc(100vw/20*15/1);
    height: calc(.615*(100vw/20*15/1));
  }

  .message-box{
    min-height: 15rem;
  }
  .caption{
    padding-right: 15px;
  }

  .content{
    margin-bottom: 15px;
  }

}

@media (max-width: 480px){
  .docs-section {
    min-width: 380px;
    min-height: 235px;
    margin: 15px auto;
  }

  .content{
    margin: 0;
  }

  .fone{
    display: none;
  }

}
