@import '../variables.scss';

.cols1 {
  width: $col1;
}
.cols2 {
  width: $col2;
}
.cols3 {
  width: $col3;
}
.cols4 {
  width: $col4;
}
.cols5 {
  width: $col5;
}
.cols6 {
  width: $col6;
}
.cols7 {
  width: $col7;
}
.cols8 {
  width: $col8;
}
.cols9 {
  width: $col9;
}
.cols10 {
  width: $col10;
}
.cols11 {
  width: $col11;
}
.cols12 {
  width: $col12;
}
.cols13 {
  width: $col13;
}
.cols14 {
  width: $col14;
}
.cols15 {
  width: $col15;
}
.cols16 {
  width: $col16;
}
.cols17 {
  width: $col17;
}
.cols18 {
  width: $col18;
}
.cols19 {
  width: $col19;
}
.cols20 {
  width: $col20;
}

//.cols1, .cols2, .cols3, .cols4, .cols5, .cols6, .cols7, .cols8, .cols9,
//.cols10, .cols11, .cols12, .cols13, .cols14, .cols15, .cols16, .cols17, .cols18,
//.cols19, .cols20{ float: left }

.fl-left{
  float: left;
}
.fl-right{
  float: right;
}
.fl-none{
  float: none;
}

.position-center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.justify-vertical{
  flex-direction: column;
}

@media (max-width: 1900px) {

  .scr1900none {
    display: $widthNone;
  }
  .scr1900col1 {
    width: $col1;
  }
  .scr1900col2 {
    width: $col2;
  }
  .scr1900col3 {
    width: $col3;
  }
  .scr1900col4 {
    width: $col4;
  }
  .scr1900col5 {
    width: $col5;
  }
  .scr1900col6 {
    width: $col6;
  }
  .scr1900col7 {
    width: $col7;
  }
  .scr1900col8 {
    width: $col8;
  }
  .scr1900col9 {
    width: $col9;
  }
  .scr1900col10 {
    width: $col10;
  }
  .scr1900col11 {
    width: $col11;
  }
  .scr1900col12 {
    width: $col12;
  }
  .scr1900col13 {
    width: $col13;
  }
  .scr1900col14 {
    width: $col14;
  }
  .scr1900col15 {
    width: $col15;
  }
  .scr1900col16 {
    width: $col16;
  }
  .scr1900col17 {
    width: $col17;
  }
  .scr1900col18 {
    width: $col18;
  }
  .scr1900col19 {
    width: $col19;
  }
  .scr1900col20 {
    width: $col20;
  }

}

@media (max-width: 1800px) {

  .scr1800none {
    display: $widthNone;
  }
  .scr1800col1 {
    width: $col1;
  }
  .scr1800col2 {
    width: $col2;
  }
  .scr1800col3 {
    width: $col3;
  }
  .scr1800col4 {
    width: $col4;
  }
  .scr1800col5 {
    width: $col5;
  }
  .scr1800col6 {
    width: $col6;
  }
  .scr1800col7 {
    width: $col7;
  }
  .scr1800col8 {
    width: $col8;
  }
  .scr1800col9 {
    width: $col9;
  }
  .scr1800col10 {
    width: $col10;
  }
  .scr1800col11 {
    width: $col11;
  }
  .scr1800col12 {
    width: $col12;
  }
  .scr1800col13 {
    width: $col13;
  }
  .scr1800col14 {
    width: $col14;
  }
  .scr1800col15 {
    width: $col15;
  }
  .scr1800col16 {
    width: $col16;
  }
  .scr1800col17 {
    width: $col17;
  }
  .scr1800col18 {
    width: $col18;
  }
  .scr1800col19 {
    width: $col19;
  }
  .scr1800col20 {
    width: $col20;
  }

}

@media (max-width: 1600px) {

  .scr1600none {
    display: $widthNone;
  }
  .scr1600col1 {
    width: $col1;
  }
  .scr1600col2 {
    width: $col2;
  }
  .scr1600col3 {
    width: $col3;
  }
  .scr1600col4 {
    width: $col4;
  }
  .scr1600col5 {
    width: $col5;
  }
  .scr1600col6 {
    width: $col6;
  }
  .scr1600col7 {
    width: $col7;
  }
  .scr1600col8 {
    width: $col8;
  }
  .scr1600col9 {
    width: $col9;
  }
  .scr1600col10 {
    width: $col10;
  }
  .scr1600col11 {
    width: $col11;
  }
  .scr1600col12 {
    width: $col12;
  }
  .scr1600col13 {
    width: $col13;
  }
  .scr1600col14 {
    width: $col14;
  }
  .scr1600col15 {
    width: $col15;
  }
  .scr1600col16 {
    width: $col16;
  }
  .scr1600col17 {
    width: $col17;
  }
  .scr1600col18 {
    width: $col18;
  }
  .scr1600col19 {
    width: $col19;
  }
  .scr1600col20 {
    width: $col20;
  }

}

@media (max-width: 1480px) {

  .scr1480none {
    display: $widthNone;
  }
  .scr1480col1 {
    width: $col1;
  }
  .scr1480col2 {
    width: $col2;
  }
  .scr1480col3 {
    width: $col3;
  }
  .scr1480col4 {
    width: $col4;
  }
  .scr1480col5 {
    width: $col5;
  }
  .scr1480col6 {
    width: $col6;
  }
  .scr1480col7 {
    width: $col7;
  }
  .scr1480col8 {
    width: $col8;
  }
  .scr1480col9 {
    width: $col9;
  }
  .scr1480col10 {
    width: $col10;
  }
  .scr1480col11 {
    width: $col11;
  }
  .scr1480col12 {
    width: $col12;
  }
  .scr1480col13 {
    width: $col13;
  }
  .scr1480col14 {
    width: $col14;
  }
  .scr1480col15 {
    width: $col15;
  }
  .scr1480col16 {
    width: $col16;
  }
  .scr1480col17 {
    width: $col17;
  }
  .scr1480col18 {
    width: $col18;
  }
  .scr1480col19 {
    width: $col19;
  }
  .scr1480col20 {
    width: $col20;
  }

}

@media (max-width: 1280px) {

  .scr1280none {
    display: $widthNone;
  }
  .scr1280col1 {
    width: $col1;
  }
  .scr1280col2 {
    width: $col2;
  }
  .scr1280col3 {
    width: $col3;
  }
  .scr1280col4 {
    width: $col4;
  }
  .scr1280col5 {
    width: $col5;
  }
  .scr1280col6 {
    width: $col6;
  }
  .scr1280col7 {
    width: $col7;
  }
  .scr1280col8 {
    width: $col8;
  }
  .scr1280col9 {
    width: $col9;
  }
  .scr1280col10 {
    width: $col10;
  }
  .scr1280col11 {
    width: $col11;
  }
  .scr1280col12 {
    width: $col12;
  }
  .scr1280col13 {
    width: $col13;
  }
  .scr1280col14 {
    width: $col14;
  }
  .scr1280col15 {
    width: $col15;
  }
  .scr1280col16 {
    width: $col16;
  }
  .scr1280col17 {
    width: $col17;
  }
  .scr1280col18 {
    width: $col18;
  }
  .scr1280col19 {
    width: $col19;
  }
  .scr1280col20 {
    width: $col20;
  }

}

@media (max-width: 1080px) {

  .scr1080none {
    display: $widthNone;
  }

  .scr1080col1 {
    width: $col1;
  }
  .scr1080col2 {
    width: $col2;
  }
  .scr1080col3 {
    width: $col3;
  }
  .scr1080col4 {
    width: $col4;
  }
  .scr1080col5 {
    width: $col5;
  }
  .scr1080col6 {
    width: $col6;
  }
  .scr1080col7 {
    width: $col7;
  }
  .scr1080col8 {
    width: $col8;
  }
  .scr1080col9 {
    width: $col9;
  }
  .scr1080col10 {
    width: $col10;
  }
  .scr1080col11 {
    width: $col11;
  }
  .scr1080col12{
    width: $col12;
  }
  .scr1080col13 {
    width: $col13;
  }
  .scr1080col14 {
    width: $col14;
  }
  .scr1080col15 {
    width: $col15;
  }
  .scr1080col16 {
    width: $col16;
  }
  .scr1080col17 {
    width: $col17;
  }
  .scr1080col18 {
    width: $col18;
  }
  .scr1080col19 {
    width: $col19;
  }
  .scr1080col20 {
    width: $col20;
  }

}

@media (max-width: 900px) {

  .scr900none {
    display: $widthNone;
  }

  .scr900col1 {
    width: $col1;
  }
  .scr900col2 {
    width: $col2;
  }
  .scr900col3 {
    width: $col3;
  }
  .scr900col4 {
    width: $col4;
  }
  .scr900col5 {
    width: $col5;
  }
  .scr900col6 {
    width: $col6;
  }
  .scr900col7 {
    width: $col7;
  }
  .scr900col8 {
    width: $col8;
  }
  .scr900col9 {
    width: $col9;
  }
  .scr900col10 {
    width: $col10;
  }
  .scr900col11 {
    width: $col11;
  }
  .scr900col12{
    width: $col12;
  }
  .scr900col13 {
    width: $col13;
  }
  .scr900col14 {
    width: $col14;
  }
  .scr900col15 {
    width: $col15;
  }
  .scr900col16 {
    width: $col16;
  }
  .scr900col17 {
    width: $col17;
  }
  .scr900col18 {
    width: $col18;
  }
  .scr900col19 {
    width: $col19;
  }
  .scr900col20 {
    width: $col20;
  }

}

@media (max-width: 720px) {

  .scr720none {
    display: $widthNone;
  }
  .scr720col1 {
    width: $col1;
  }
  .scr720col2 {
    width: $col2;
  }
  .scr720col3 {
    width: $col3;
  }
  .scr720col4 {
    width: $col4;
  }
  .scr720col5 {
    width: $col5;
  }
  .scr720col6 {
    width: $col6;
  }
  .scr720col7 {
    width: $col7;
  }
  .scr720col8 {
    width: $col8;
  }
  .scr720col9 {
    width: $col9;
  }
  .scr720col10 {
    width: $col10;
  }
  .scr720col11 {
    width: $col11;
  }
  .scr720col12 {
    width: $col12;
  }
  .scr720col13 {
    width: $col13;
  }
  .scr720col14 {
    width: $col14;
  }
  .scr720col15 {
    width: $col15;
  }
  .scr720col16 {
    width: $col16;
  }
  .scr720col17 {
    width: $col17;
  }
  .scr720col18 {
    width: $col18;
  }
  .scr720col19 {
    width: $col19;
  }
  .scr720col20 {
    width: $col20;
  }

}

@media (max-width: 640px) {

  .scr640none {
    display: $widthNone;
  }
  .scr640col1 {
    width: $col1;
  }
  .scr640col2 {
    width: $col2;
  }
  .scr640col3 {
    width: $col3;
  }
  .scr640col4 {
    width: $col4;
  }
  .scr640col5 {
    width: $col5;
  }
  .scr640col6 {
    width: $col6;
  }
  .scr640col7 {
    width: $col7;
  }
  .scr640col8 {
    width: $col8;
  }
  .scr640col9 {
    width: $col9;
  }
  .scr640col10 {
    width: $col10;
  }
  .scr640col11 {
    width: $col11;
  }
  .scr640col12 {
    width: $col12;
  }
  .scr640col13 {
    width: $col13;
  }
  .scr640col14 {
    width: $col14;
  }
  .scr640col15 {
    width: $col15;
  }
  .scr640col16 {
    width: $col16;
  }
  .scr640col17 {
    width: $col17;
  }
  .scr640col18 {
    width: $col18;
  }
  .scr640col19 {
    width: $col19;
  }
  .scr640col20 {
    width: $col20;
  }

}

@media (max-width: 480px) {

  .scr480none {
    display: $widthNone;
  }
  .scr480col1 {
    width: $col1;
  }
  .scr480col2 {
    width: $col2;
  }
  .scr480col3 {
    width: $col3;
  }
  .scr480col4 {
    width: $col4;
  }
  .scr480col5 {
    width: $col5;
  }
  .scr480col6 {
    width: $col6;
  }
  .scr480col7 {
    width: $col7;
  }
  .scr480col8 {
    width: $col8;
  }
  .scr480col9 {
    width: $col9;
  }
  .scr480col10 {
    width: $col10;
  }
  .scr480col11 {
    width: $col11;
  }
  .scr480col12 {
    width: $col12;
  }
  .scr480col13 {
    width: $col13;
  }
  .scr480col14 {
    width: $col14;
  }
  .scr480col15 {
    width: $col15;
  }
  .scr480col16 {
    width: $col16;
  }
  .scr480col17 {
    width: $col17;
  }
  .scr480col18 {
    width: $col18;
  }
  .scr480col19 {
    width: $col19;
  }
  .scr480col20 {
    width: $col20;
  }

}

.none{
  display: none;
}