@import '../variables.scss';
@import './fonts-original.scss';
//@import "./normalize.css";
//@import "./skeleton.css";

div {
  color: black;
  //font-size: 2em;
}

i{
  font-family: $icon-font;
  font-style: normal;
  margin: 0 8px;
  //font-size: 3em;
  //color: #ff8e47;
}

body{
  min-height: 100vh;
  min-width: 100vw;
  margin: 0 auto;
  background: $color-fone;
}

button i{
  font-size: 1.3rem;
}

.header{
  background: $color-header;
  //display: none;
  min-height: 9vh;
  display: flex;
  //flex-wrap: wrap;
}

.header.mobile{
  display: none;
}


.mobile span{
  background: black;
  color: $text_blue;
}

.header .row{
  outline: $outline-whitesmoke;
  //display: flex;
  //justify-content: space-around;
  //align-items: center;


  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  //height: 100%;
}


footer{
  min-height: 11vh;
  display: flex;

  //outline: $outline1;
  background: $color-header;
  a{
    color: $text_blue;
    min-height: 1vh;
  }
}

footer .items.row{
  //min-height: 13vh;
  height: auto;
  outline: $outline-whitesmoke;
  display: block;
  position: relative;
}

#dashboard{
  position: absolute;
  font-size: 1.5em;
  color: yellow;
  background: #4e864e;
  opacity: .75;
  padding: 5px 10px;
  left: 0;
}

.content{
  outline: $outline-green;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0 45px 0;
}

.docs-section {
  position: relative;
  box-sizing: border-box;
  background: $color-card;
  // золотое сечение
  width: calc(100vw/20*10/2);
  height: calc(.615*(100vw/20*10/2));
}

.case-card{
  //height: 60rem;
  //padding: 5rem 0 0;
  padding-top: 20px;
}

$icon_color: #dce5ff;

.icon{
  outline: $outline-crimson;
  font-size: 8rem;
  box-sizing: border-box;
  padding-left: 15px;
  //color: $color-fone;
  color: $icon_color
  //color: lightblue;
  //color: #2c1257;
  //background: bisque;
}

.caption{

  padding: 0 35px 0 0;
  box-sizing: border-box;

  .case-name{
    display: table;
    width: 100%;
  }

  .name{
    //color: #2c1257;
    font-size: 1.75rem;
    font-family: $prime-font;
    //font-family: "Consolas", "Lucida Console";//, "Raleway", "Trebuchet MS";
    display: table-cell;
    height: 12rem;
    vertical-align: middle;
    text-align: center;
    //padding: 0 25px 0 0;
    outline: $outline-whitesmoke;
    //padding: 0 15px;
  }
  a{
    text-decoration: none;
    //color: $color-fone;
    //color: lightblue;
    color: #c6e7fb;
    //z-index: 5;

  }
  a:hover{
    text-decoration: underline;
  }
}

.fone{
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  width: 100vw;
  box-sizing: border-box;
}

.fone-column{
  outline: $outline-crimson;
  display: inline-flex;
  min-width: 100vw;
  position: relative;
}

.fone i{
  font-size: 8rem;
  padding: 0 20px;
  color: #98c8d8;
  //color: #98c8d8;
  outline: $outline-whitesmoke;
  display: inline-block;
  margin: 0 auto;
  cursor: default;
}

.dev{
  //font-size: 50rem;
  margin: 50px auto;
  //zoom:3;
  text-align: center;
}

#svg-phone{
  //width: 100px;
  //height: 100px;
}

.service .columns{
  outline: $outline-crimson;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  //min-height: 20vmax;
  min-height: 10vh;
  //min-height: 16vmin;
}

.service .eight{
  font-size: 2rem;
  //flex-wrap: wrap;
  //display: block;
  flex-direction: column;
}

.service .eight span{
  outline: $outline-crimson;
  margin-bottom: 10px;
}

.row.service{
  margin: 0 auto;
  box-shadow: 9px 9px 20px 2px #021a2a;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}

.items.row{
  margin: 0 auto;
  //box-shadow: 9px 9px 20px 2px #021a2a;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}


.case-content{
  min-height: 80vh;
  align-content: stretch;
  align-items: stretch;
  margin: 0 auto;
  //background: $color-fone;
}

.item{
  outline: $outline-whitesmoke;
  display: flex;
  color: $text_blue;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-family: $name-font;
}

.header a{
  min-height: 5vh;
}

.point{
  font-size: 1.9rem;
}

.header a:hover{
  background: #303030;
  outline: 1px solid $main_blue;
}


.feedback{
  outline: $outline-crimson;
  display: inline-block;
  left: 10vw;
  position: absolute;
  top: 2vh;

  a{
    //outline: 1px dotted whitesmoke;
    padding: 5px 10px;
    display: block;
  }
}



$bg-color: #f1f1f1;
$text-color: #333333;
$highlight-color: #E74C3C;


.dialog__trigger, .dialog__action {

  transition: all 150ms ease-out;
  transform: translateY(0px);
  &:hover, &:focus {
    outline: 0;
    //transform: translateY(-5px);
    transition: all 100ms ease-in;
    //box-shadow: 0 5px 10px rgba($text-color,0.4);
  }
  &:active {
    transform: translateY(-3px);
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  //transition: opacity 500ms;
  transition: all 200ms;
  visibility: hidden;
  opacity: 0;
  //z-index: -1;
}

.overlay.active{
  //transition: opacity 500ms;
  transition: all 200ms;
  visibility: visible;
  opacity: 1;
}

.case{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  //z-index: 1;
}
.policy h4{
  text-align: center;
}

.policy h5{
  text-decoration: underline;
}

.tpl {
  display: none;
}

//.dialog {
.dialog, .policy {
  display: none;
  background: $bg-color;
  box-sizing: border-box;
  //max-width: 90%;
  position: absolute;
  //z-index: 1;
  //left: calc(50% - 35%); // half of the container width - 70%
  top: 0;
  padding: 30px;
  box-shadow: 0 10px 30px rgba($text-color,0.4);
  border: 3px solid $text-color;
  visibility: hidden;
  opacity: 0;
  transition: all 180ms ease-in;
  &.active {
    //display: block;
    top: 15%;
    visibility: visible;
    opacity: 1;
    transition: all 250ms ease-out;
  }
  .dialog__close {
    font-size: 2rem;
    line-height: 2rem;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: 15px 20px;
    transition: all 150ms ease;
    &:hover {
      background: #aaa;
      color: crimson;
    }
  }
  .dialog__title {
    font-size: 2rem;
    font-family: $prime-font;
    letter-spacing: .1rem;
    font-weight: 100;
    margin: 0;
    padding: 0 0 15px 0;
    border-bottom: 2px solid $text-color;
  }
  .dialog__content {
    font-size: 1.1rem;
    line-height: 2rem;
  }
  .dialog__action {
    margin: 0;
    font-size: 1rem;
  }
}

.message-box{
  width: 100%;
  font-size: 1.5rem;
  margin-top: 15px;
  min-height: 12rem;
}

.feedback a{
  text-decoration: none;
  box-sizing: border-box;


  //box-shadow: inset 0px 0px 52px 19px rgba(0,0,0,1);;
  //background: #5ed8f5;
  //color: #3f4fb4;
}

.feedback a{
  color: $text_blue;
  //background: $color-fone;

}
.feedback a:hover{
  outline: 1px solid $main_blue;
  //text-shadow: 5px 5px 10px $main_blue;
}

.feedback a:hover span{
  text-decoration: none
}

.feedback span{
  text-decoration: underline;
}

i.send {
  //color: #1EAEDB;
  //text-decoration: none;
}

#call_me button{
  margin: 0 auto;
  display: block;
}

.terms{
  text-indent: 3rem;
  font-family: $name-font;
}

$svg-fone: rgb(163, 255, 250);
//$svg-fone: rgb(163, 255, 250);
//$svg-fone: #55ffeb;
$svg-stroke: white;
//$svg-stroke: #ccd0d2;
$svg-stroke1: #b7dfe2;
$svg-stroke2: rgba(255, 255, 255, 0);
//$svg-stroke: #fff84a;
$svg-glob: #B6EFFF;

.glob{
  fill: $svg-fone;
}

.svg-canvas{
  fill: white;
  //fill: $icon-color;
}

.svg-path{
  stroke: white;
  //stroke: $svg-stroke;
}

