footer.cell.shrink.footer.grid-x.align-center
    .outline-white.grid-x.cell.large-8.xlarge-7
        .feedback.cell.shrink.large-offset-2
            a(data-action="openPopUp:call_me").dialog__action.send_author
                i.send &#xf1d9;
                span Отзывы и пожелания
