mixin header(tel)
    section.cell.header.pc.shrink.grid-x.align-center
        .grid-x.large-8.xlarge-7.grid-padding-x.cell.outline-white.wrap.align-center
            a(href='/').cell.auto.logo.align-self-middle.align-center.outline-white
                .name-logo.grid-x#name_logo.align-center.large-align-right
                    include ../svg/logo_vector.html
                #txt-logo.text-center.cell.align-self-middle Ремонт электроники
            .cell.outline-white.shrink.show-for-medium.grid-x.align-center.case-vdiv
                .vdiv.cell.height-50.align-self-middle
            .cell.auto.point.logo.text-center.align-self-middle.h5.outline-white
                div пгт.Тисуль, ул.Октябрьская-2а<br/>
                    span.h7 (кафе Диана, второй этаж)
                a(href='tel:'+tel).phone т. #{tel}
