extends ./base
block title
    |Ремонт электроники/телефонов в Тисуле | установка антенн | заправка картриджей
block header
    include header
    +header('8-951-576-36-33')
block main
    .grid-x.grid-padding-x.height-100.align-center
        .cell.cell-block-y.text-center.padding-1.large-9.xlarge-8
            .grid-x.margin-1.case-service.large-up-2.align-center.grid-margin-x.padding-0
                include item-service
                -
                    var items = [
                    {name:'ремонт компьютеров', phone: '8-951-576-36-33', icon:"&#xe797;", svg:'pc', link: '/pc'},
                    {name:'ремонт<br>телефонов', phone: '8-951-576-36-33', icon:"&#xe646;", svg:'phone', link: '/phone'},
                    {name:'установка антенн,<br>спутниковое ТВ', phone: '8-923-511-43-88', icon:"&#xe649;", svg:'tv', link: '#'},
                    {name:'заправка картриджей', phone: '8-951-584-89-99', icon:"&#xe643;", svg:'printer', link: '#'}
                    ]
                each val in items
                    +item-service(val.name, val.phone, val.icon, val.svg, val.link)
