mixin item-service(name, tel, icon, svg, link)
    .cell.grid-x.service.margin-bottom-2.align-center.small-margin-horizontal-1.large-margin-horizontal-1
        .icon(id=svg+'_ins_point').cell.small-5.xlarge-4.align-self-middle.grid-x.align-center
            if svg
                +path(svg)
            else
                i !{icon}
        .caption.cell.align-self-middle.small-7
            .case-name
                .name
                    h2.h5.large-h6.width-100
                        if link=='#'
                            a(data-action="openPopUp:empty").dialog__action !{name}
                        else
                            a(href=link) !{name}
                    a(href='tel:'+tel).phone.h6 т. #{tel}
                    //.phone.h6 !{phone}
                //button(data-action="openPopUp:call_me").dialog__action.call заказать звонок
                //    svg
                //        rect(width="100%" height="100%" x="0" y="0")

//        - var tpl = require('html-tpl!../svg/phone.tpl.html?minimize=true&collapseWhitespace=true');
            - var output = _template()
//        - return tpl
mixin path(a)
    if a==='pc'
        include ../svg/pc.html
        //include ../svg/phone.html
    if a==='phone'
        include ../svg/phone.html
        //- return require('html-loader!../svg/phone.html');
    if a==='tv'
        //include ../svg/phone.html
        include ../svg/tv.html
    if a==='printer'
        //include ../svg/phone.html
        include ../svg/printer.html
