extends ./base
block title
    |Ремонт компьютеров/ноутбуков в Тисуле
block header
    include header
    +header('8-951-576-36-33')
block main
    .grid-x.grid-padding-x.height-100.align-center
        .cell.cell-block-y.text-center.padding-1.large-9.xlarge-8
            .grid-x.align-center
                .cell.outline-white.grid-x
                    h4.h4.cell.color-head ПК и Ноутбуки
                    .text-right.align-center.medium-offset-1.margin-rig1ht-3.medium-10.cell.color-head в руб.
                    .grid-x
                        ul.responsive-table.cell.grid-x.margin-0.grid-contain1er.align-center.color-body
                            -
                                var items =[
                                {name: 'Работа с програмным обеспечением (установка, настройка, разблокировка, оптимизация, итд.)', price: 800},
                                {name: "Восстановление разъёма питания ноутбука", price: 800},
                                {name: "Замена жесткого диска", price: 900},
                                {name: "Замена матрицы ноутбука", price: 700},
                                {name: "Замена клавиатуры ноутбука", price: "300-800"},
                                {name: "Профилактика системы охлаждения", price: 700},
                                {name: "Замена видеочипа на ноутбуке", price: 2500},
                                {name: "Восстановление корпуса ноутбука", price: "800-1500"},
                                {name: "Восстановление после попадания влаги", price: "600-1500"},
                                {name: "Другие работы разного уровня сложности", price: "от 300"}
                                ]
                            each val in items
                                +price(val.name, val.price)
                .color-body Без учета стоимости запчастей и их доставки


mixin price(name, price)
    li.table-row.cell.grid-x.cell.medium-10.position-relative
        .col.col-1.name.cell.text-left.small-9 !{name}
        .col.col-2.price.cell.text-left.padding-left-3.align-self-middle.auto #{price}
