extends ./base
block title
    |Ремонт компьютеров/ноутбуков в Тисуле
block header
    include header
    +header('8-951-576-36-33')
block main
    .grid-x.grid-padding-x.height-100.align-center
        .cell.cell-block-y.text-center.padding-1.large-9.xlarge-8
            .grid-x.align-center
                .cell.outline-white.grid-x
                    h4.h4.cell.color-head Телефоны и Планшеты
                    .text-right.align-center.medium-offset-1.margin-rig1ht-3.medium-10.cell.color-head в руб.
                    .grid-x
                        ul.responsive-table.cell.grid-x.margin-0.grid-contain1er.align-center.color-body
                            -
                                var items =[
                                {name: 'Работа с програмным обеспечением (установка, настройка, разблокировка, оптимизация, итд.)', price: 800},
                                {name: "Замена разъема зарядки MicroUSB/Lightning", price: '700-1000'},
                                {name: "Замена разъема зарядки Type-C", price: 1500},
                                {name: "Замена SIM слота", price: 1000},
                                {name: "Замена микрофона", price: "300-600"},
                                {name: "Замена разговорного динамика", price: 500},
                                {name: "Замена основного динамика", price: '300-600'},
                                {name: "Замена сенсора, модуля, дисплея", price: "800-1000"},
                                {name: "Замена контроллера питания", price: 2000},
                                {name: "Замена памяти emmc/nand", price: 3000},
                                {name: "Выпрямление корпуса смартфона", price: 'от 700'},
                                {name: "Восстановление шлейфа", price: 800},
                                {name: "Восстановление батареи", price: 300},
                                {name: "Восстановление кнопок", price: '300-600'},
                                {name: "Восстановление после попадания влаги", price: '800-1500'},
                                {name: "Другие работы разного уровня сложности", price: 'от 300'}
                                ]
                            each val in items
                                +price(val.name, val.price)
                            .color-body Без учета стоимости запчастей и их доставки


mixin price(name, price)
    li.table-row.cell.grid-x.cell.medium-10.position-relative
        .col.col-1.name.cell.text-left.small-9 !{name}
        .col.col-2.price.cell.text-left.padding-left-3.align-self-middle.auto !{price}
