doctype html
html
    head
        meta(charset="utf-8")
        meta(name="description" content="ремонт персональной электроники ремонт телефонов установка антенн, " +
        "спутниковое ТВ, заправка принтеров")
        title
            block title
    body
        block main