extends ./base
block title
    |Ремонт электроники/телефонов в Тисуле | установка антенн | заправка картриджей
block main
    #dashboard
    section.header.pc
        .items.row.cols12.scr1280col15.scr720col20
            .item.cols10.scr480col20 ИП Трофимов
                br
                |пгт.Тисуль, ул.Октябрьская-3, оф.12
                br
                |т. 8-951-607-66-85
            .item.cols10.scr480col20 п-т приема/выдачи:
                br
                |м-н "Магнит"
    .case-content.position-center
        .content.row.cols12.scr1280col15.scr720col20
            .docs-section#repair-of-personal-electronics
                .row.service
                    .icon.cols5.scr480none.position-center
                        i &#xe797;
                    .caption.cols15.scr480col20.position-center.justify-vertical
                        span ремонт персональной электроники
                        button(data-action="openPopUp:phone").dialog__trigger заказать звонок
        .content.cols12.scr1280col15.scr720col20
            .docs-section#repair-of-phone
                .row.service
                    .icon.cols5.scr480none.position-center
                        i &#xe646;
                    .caption.cols15.scr480col20.position-center.justify-vertical
                        span ремонт телефонов
                        button(data-action="openPopUp:phone").dialog__trigger заказать звонок
        .content.cols12.scr1280col15.scr720col20
            .docs-section#set-tv
                .row.service
                    .icon.cols5.scr480none.position-center
                        i &#xe649;
                    .caption.cols15.scr480col20.position-center.justify-vertical
                        span установка антенн, спутниковое ТВ
                        button(data-action="openPopUp:phone").dialog__trigger заказать звонок
        .content.cols12.scr1280col15.scr720col20
            .docs-section#refilling-of-cartridges
                .row.service
                    .icon.cols5.scr480none.position-center
                        i &#xe643;
                    .caption.cols15.scr480col20.position-center.justify-vertical
                        span заправка картриджей
                        button(data-action="openPopUp:phone").dialog__trigger заказать звонок
    footer
        .items.row.cols12.scr1280col15.scr720col20
            .feedback
                a(target="_blank" href="mailto:e-rata@inbox.ru")
                    i.send &#xe79d;
                    span Письмо создателю
                    //i.send &#xf101;
    .overlay
    .case
        .dialog#phone.cols6.scr1280col8.scr1080col10.scr720col15
            span(data-action="closePopUp:this").dialog__close &#x2715;
            h2.dialog__title Закажи обратный звонок или задай вопрос:
            form#call_me
                textarea.message-box(name="body" autofocus='autofocus' rows=100 required placeholder="Ваш вопрос" +
                " или номер телефона для обратной связи...") 8-950-264-86-22
                input(type="text" name="select" value="sender" hidden)
                input(type="text" name="mode" value="sendMail" hidden)
                button(type="submit" data-action="sendMessage:call_me") Отправить
                    i &#xe79d;
            .terms
                |Нажимая на кнопку "Отправить", я даю согласие на обработку персональных данных и соглашаюсь c
                |
                a(href="#" data-action="openPopUp:policy").dialog__trigger политикой конфиденциальности
        include policy
