extends ./base
block title
    |Ремонт электроники/телефонов в Тисуле | установка антенн | заправка картриджей
block main
    //#dashboard
    section.header.pc
        .row.cols12.scr1800col13.scr1280col16.scr1080col18.scr900col20
            .item.cols10.scr480col20 ИП Трофимов
                br
                |пгт.Тисуль, ул.Октябрьская-3, оф.12
                br
                |т. 8-951-607-66-85
            .item.cols10.scr480col20.point п-т приема/выдачи:
                br
                |м-н "Магнит"
    .fone
    .case-content.cols12.scr1800col13.scr1280col16.scr1080col18.scr900col20
        #dev
            //include ../svg/gadget.html
            //include ../svg/phone.html
            //include ../svg/tv.html
            //include ../svg/printer.html
        .case-card.position-center.none1
            include item-service
            -
                var items = [
                {name:'ремонт персональной электроники', icon:"&#xe797;", svg:'gadget'},
                {name:'ремонт телефонов', icon:"&#xe646;", svg1:'phone'},
                {name:'установка антенн,<br>спутниковое ТВ', icon:"&#xe649;", svg1:'tv'},
                {name:'заправка картриджей', icon:"&#xe643;", svg1:'printer'}
                ]
            each val in items
                +item-service(val.name, val.icon, val.svg)
    footer
        .items.row.cols12.scr1800col13.scr1280col16.scr1080col18.scr900col20
            include foot
    include popup
    //include ../svg/gadget.html

    //script(type='module').
    //    import * as Tools from '../js/Tools.js';


