mixin item-service(name, icon, svg)
    .content.cols10.scr640col20
        .docs-section
            .row.service
                .icon.cols7.position-center
                    if svg
                        +path(svg)
                    else
                        i !{icon}
                .caption.cols13.position-center.justify-vertical
                    .case-name
                        .name
                            a(href="#") !{name}
                    button(data-action="openPopUp:call_me").dialog__action заказать звонок

mixin path(a)
    if a==='gadget'
        include ../svg/gadget.html
    if a==='phone'
        include ../svg/phone.html
    if a==='tv'
        include ../svg/tv.html
    if a==='printer'
        include ../svg/printer.html
