.overlay
.case
    .dialog#call_me.cols6.scr1280col8.scr1080col10.scr720col15
    #tpl-call_me.tpl
        span(data-action="closePopUp:this").dialog__close &#x2715;
        h2.dialog__title Закажи обратный звонок или задай вопрос:
        form
            textarea.message-box(name="body" autofocus='autofocus' rows=100 required placeholder="Ваш вопрос" +
            " или номер телефона для обратной связи...") 8-950-264-86-22
            input(type="text" name="select" value="sender" hidden)
            input(type="text" name="mode" value="sendMail" hidden)
            button(type="submit" data-action="sendMessage:this") Отправить
                i &#xe79d;
        .terms
            | Нажимая на кнопку "Отправить", я даю согласие на обработку персональных данных и соглашаюсь c
            |
            a(href="#" data-action="openPopUp:policy").dialog__trigger политикой конфиденциальности
    include policy
