$vue-blue: #32485F;
$vue-green: rgba(16, 91, 99, 0);
$orange: #3d47a3;
$yellow: #FFD34E;
$green: #105B63;
$beige: #FFFAD5;
$main_blue: #33c3f0;
$gray_hover: #303030;
$text_blue: #83d7f2;
$outline-weight: 0px;
$color-card: #3F6075;
$color-fone: #87AFBF;
$color-header: #0C3844;
//$color-fone: #3F6075;
//https://colorscheme.ru/#4Lk01compw0w0
$outline-crimson: $outline-weight dotted crimson;
$outline-whitesmoke: $outline-weight dotted whitesmoke;
$outline-green: $outline-weight dotted green;
$outline-blue: $outline-weight dotted blue;
$colBase: 5%;
$col1: $colBase*1;
$col2: $colBase*2;
$col3: $colBase*3;
$col4: $colBase*4;
$col5: $colBase*5;
$col6: $colBase*6;
$col7: $colBase*7;
$col8: $colBase*8;
$col9: $colBase*9;
$col10: $colBase*10;
$col11: $colBase*11;
$col12: $colBase*12;
$col13: $colBase*13;
$col14: $colBase*14;
$col15: $colBase*15;
$col16: $colBase*16;
$col17: $colBase*17;
$col18: $colBase*18;
$col19: $colBase*19;
$col20: $colBase*20;
$widthNone: none;
//---------------------
$delta-height: 15px;
//---------------------
$icon-font: icomoon, FontAwesome;
$font-console: "Co";
$prime-font: Raleway, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
//$prime-font: 'Avenir', Helvetica, Arial, sans-serif;
$name-font: 'Segoe UI', "Helvetica Neue", Helvetica, Arial, sans-serif;
$btn-font: Verdana,Arial,sans-serif, icomoon;
$bgr-button: url("images/button.png") repeat-x scroll 50% 50% #e6e6e6;
$bgr-button-hover: url("images/button-hover.png") repeat-x scroll 50% 50% #dadada;
//----------------------
//$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);