<style>
    #svg-printer{
        /*outline: 1px solid blue;*/
        /*fill: blue;*/
        height: 100%;
        width: 75%;
        /*width: 100px;*/
        /*height: 150px;*/
    }

</style>

<template id="tpl-printer">
    <div class="position-center">
        <svg xmlns="http://www.w3.org/2000/svg" id="svg-printer"
             class="svg-canvas"
             width="275" height="300"
             viewBox="-3 -3 281 306"
        >
            <!--width="275", height="223", real size-->
            <g
                    class="svg-path"
                    transform="translate(0,-300)"
            >
                <path id="printer-svg-path"
                      stroke-opacity="0"
                      d="M18 397
                      c-10 0-18 8-18 18v85c0 10 8 18 18 18h59
                      v-51h121v51h58c10 0 18-8 18-18v-85c0-10-8-18-18-18
                      H18z
                      m16 15
                      a16 16 0 0 1 16 17 16 16 0 0 1-16 16 16 16 0 0 1-16-16 16 16 0 0 1 16-17z"
                >
                    <animate id="printer_FillOff"></animate>
                    <animate id="printer_fillOn"></animate>
                    <animate id="printer_animStrokeOn"
                             begin="indefinite" dur=".15s"
                             repeatCount="1" fill="freeze" calcMode="linear"
                             attributeName="stroke-opacity" values="0;1">
                    </animate>
                    <animate id="printer_animStrokeOff"
                             begin="indefinite" dur=".15s"
                             repeatCount="1" fill="freeze" calcMode="linear"
                             attributeName="stroke-opacity" values="1;0">
                    </animate>
                </path>

                <rect id="printer_blank-sheet"
                      stroke-opacity="0"
                      width="121" height="75" x="77" y="337"
                      transform="rotate(180, 137, 362)"
                >
                    <animate id="printer_AnimBlankFeed"
                             begin="indefinite" dur=".75s"
                             repeatCount="1" fill="remove" calcMode="linear"
                             attributeName="height"
                             values="75;0">
                    </animate>
                    <animate id="printer_animBlankBack"
                             begin="printer_AnimBlankFeed.end" dur=".15s"
                             repeatCount="1" fill="remove" calcMode="linear"
                             attributeName="height"
                             values="0;75">
                    </animate>
                </rect>

                <rect id="printer_fill-sheet"
                      stroke-opacity="0"
                      width="111" height="15" x="82" y="473"
                >
                    <animate id="printerAnimFillFeed"
                             begin="indefinite" dur=".75s"
                             repeatCount="1" fill="remove" calcMode="linear"
                             attributeName="height"
                             values="10;86">
                    </animate>
                    <animate id="printer_animFillBack"
                             begin="printerAnimFillFeed.end" dur=".5s"
                             repeatCount="1" fill="remove" calcMode="linear"
                             attributeName="height"
                             values="86;10">
                    </animate>

                </rect>
                <circle id="printer_circle"
                        fill="#5BD35F" stroke="none" fill-opacity="0"
                        cx="34" cy="428.5"
                        r="13.5"
                >
                    <animate id="printer_FillSensOn"
                             attributeType="XML"
                             begin="indefinite"
                             attributeName="fill-opacity"
                             values="1;0;1"
                             dur="0.8s"
                             repeatCount="2"
                    ></animate>
                </circle>
            </g>

        </svg>
    </div>

    <script type="module">
        import * as Tools from '../../public/js/Tools.js';
        import * as Svg from '../../public/js/Svg.js';
        (function(){
            let
                name='printer',
                printer = {
                    strokeWidth: 6,
                    width: 275,
                    height: 300,
                },
                animate_common = {
                    shape: 'animate',
                    name: name,
//                    'xlink:href':`#${name}-svg-path`,
                    begin: 'indefinite',
                    dur: ".15s",
                    repeatCount: "1",
                    fill: "freeze",
                    calcMode: "linear"
                },
                animFillOff = {
                    id:'fillOff',
                    attributeName: "fill-opacity",
                    values: "1; 0",
                },
                animFillOn = {
                    id:'fillOn',
                    attributeName: "fill-opacity",
                    values: "0;1",
                },
                svg = Tools.getSel(`#svg-${name}`),
                parent = Tools.getSel(`#tpl-${name}`).parentNode.parentNode,
                trigger = parent.querySelector('.caption')
//                trigger = parent;

            Svg.svgInit(name, printer)

            Svg.renderSvgElem(svg, {name:'printer', id:'svg-path','stroke-width':6})

            Svg.renderSvgElem(svg, Object.assign(animate_common, animFillOff))
            Svg.renderSvgElem(svg, Object.assign(animate_common, animFillOn))
            if (trigger) {
                Svg.initAnimate(trigger, 'mouseenter', name, 'fillOff',
                    'animStrokeOn', 'animBlankFeed', 'animFillFeed', 'fillSensOn')

                Svg.initAnimate(trigger, 'mouseleave', name, 'fillOn',
                    'animStrokeOff', 'animFillBack1', 'animBlankBack1')

            }
        })()
    </script>
</template>
<script type="module">
    import * as Tools from '../../public/js/Tools.js';
    Tools.renderTpl('printer')
</script>

