<style>
    #svg-tv{
        /*outline: 1px solid blue;*/
        /*fill: blue;*/
        height: 100%;
        width: 75%;
        /*width: 100px;*/
        /*height: 150px;*/
    }

</style>

<template id="tpl-tv">
    <div class="position-center">
        <svg xmlns="http://www.w3.org/2000/svg" id="svg-tv"
             class="svg-canvas"
             width="282" height="282"
             viewBox="-3 -3 288 288"
        >
            <!--width="282", height="282", real size-->

            <circle id="glob-tv" class="glob"
                    mask="url(#tv-mask)"
                    r=0 cx=140 cy=175
            >
                <animate
                        id="tv-anim"
                        attributeName="r"
                        values="0; 170"
                        dur=".15s"
                        begin="indefinite"
                        repeatCount="1"  fill="freeze"  calcMode="linear">
                </animate>
                <animate
                        id="tv-anim2"
                        attributeName="r"
                        values="170;0"
                        dur=".15s"
                        begin="indefinite"
                        repeatCount="1"  fill="freeze"  calcMode="linear">
                </animate>
            </circle>

            <g
                    class="svg-path"
                    transform="translate(0,-279)"
            >
                <path id="tv-svg-path" stroke-opacity="0"
                      d="M12 357
                      c25-4 51-6 78-8l-46-45 18-17 62 61h17l70-70 18 17-53 54c33 1 64 4 94 8a392 392 0 0 1 0 193 912 912 0 0 1-258 0 392 392 0 0 1 0-193zm32 161a768 768 0 0 0 194 0 234 234 0 0 0 0-129 768 768 0 0 0-194 0 234 234 0 0 0 0 129z"
                >
                <animate
                        id="tv-anim3"
                        attributeName="stroke-opacity"
                        values="0;1"
                        dur=".15s"
                        begin="indefinite"
                        repeatCount="1"  fill="freeze"  calcMode="linear">
                </animate>
                <animate
                        id="tv-anim4"
                        attributeName="fill-opacity"
                        values="1;0"
                        dur=".15s"
                        begin="indefinite"
                        repeatCount="1"  fill="freeze"  calcMode="linear">
                </animate>
                <animate
                        id="tv-anim5"
                        attributeName="stroke-opacity"
                        values="1;0"
                        dur=".15s"
                        begin="indefinite"
                        repeatCount="1"  fill="freeze"  calcMode="linear">
                </animate>
                <animate
                        id="tv-anim6"
                        attributeName="fill-opacity"
                        values="0;1"
                        dur=".15s"
                        begin="indefinite"
                        repeatCount="1"  fill="freeze"  calcMode="linear">
                </animate>
                </path>
                <!--смещение маски учитывается в маскируемом объекте
                поэтому лучше назначать абсолютные координаты целевому объекту и смещение маске
                -->
            <defs>
                <mask id="tv-mask">
                    <path
                            transform="translate(0,-279)"
                            d="M44 518a768 768 0 0 0 194 0 234 234 0 0 0 0-129 768 768 0 0 0-194 0 234 234 0 0 0 0 129z"
                            fill="white"
                    ></path>
                </mask>
            </defs>
            </g>

        </svg>
    </div>

    <script type="module">
        import * as Tools from '../../public/js/Tools.js';
        import * as Svg from '../../public/js/Svg.js';
        (function () {
            let
                name='tv',
                gadget= {
                    strokeWidth: 6,
                    width: 282,
                    height: 282
                },
                parent = Tools.getSel(`#tpl-${name}`).parentNode.parentNode,
//                trigger = parent
                trigger = parent.querySelector('.caption')
            Svg.svgInit(name, gadget)
            Svg.initAnimate(trigger, 'mouseenter', name, 'anim','anim3','anim4')
            Svg.initAnimate(trigger, 'mouseleave', name, 'anim2','anim5','anim6')
        })()
    </script>
</template>
<script type="module">
    import * as Tools from '../../public/js/Tools.js';
    Tools.renderTpl('tv')
</script>

