@media (max-width: 1900px){
  .docs-section {
    width: calc(100vw/20*10/2);
    height: calc(.615*(100vw/20*10/2));
  }

}

@media (max-width: 1800px){
  .docs-section {
    width: calc(100vw/20*11/2);
    height: calc(.615*(100vw/20*11/2));
  }

}

@media (max-width: 1600px){
  .docs-section {
    width: calc(100vw/20*11/2);
    height: calc(.615*(100vw/20*11/2));
  }

}

@media (max-width: 1480px){
  .docs-section {
    width: calc(100vw/20*12/2);
    height: calc(.615*(100vw/20*12/2));
  }
  .content{
    margin-bottom: 25px;
  }
}

@media (max-width: 1280px){
  .docs-section {
    //width: calc(100vw/20*14/1);
    //height: calc(.615*(100vw/20*14/1));
  }

}

@media (max-width: 1080px){
  .docs-section {
    //width: calc(100vw/20*16/1);
    //height: calc(.615*(100vw/20*16/1));
  }
  .content{
    margin-bottom: 25px;
  }

}

@media (max-width: 900px){
  .docs-section {
    width: calc(100vw/20*18);
    height: calc(.615*(100vw/20*18));
  }

}

@media (max-width: 720px){

  .header{
    min-height: 15vh;
  }
  .docs-section {
    width: calc(100vw/20*18);
    height: calc(.615*(100vw/20*18));
  }
  .name a, .point, .feedback a{
    font-size: 2.0rem;

  }
  .call{
    height: 50px;
    width: 220px;
    font-size: 1.5rem;
  }

  button.call{
    margin-top: 15px;
  }

  button svg rect{
    stroke-dasharray: 50 220;
    stroke-dashoffset: 320;
  }

  button:hover svg rect{
    stroke-dasharray: 220 50;
    stroke-dashoffset: 0;
  }

}

@media (max-width: 640px){

  .docs-section {
    width: calc(100vw/20*18/1);
    height: calc(.615*(100vw/20*18/1));
  }

  .message-box{
    min-height: 15rem;
  }
  .caption{
    padding-right: 15px;
  }

  .content{
    margin-bottom: 15px;
  }

}

@media (max-width: 480px){
  .docs-section {
    min-width: 380px;
    min-height: 235px;
    margin: 15px auto;
  }

  .content{
    margin: 0;
  }

  .fone{
    display: none;
  }

}
