.content{
  //display: none;
}

.case-content.position-center{
  //flex-direction: column;
  //align-items: stretch;
}

.div1, .div2, .div3{
  display: none;
  width: 100%;
}

.div1{
  background: yellow;
}
.div2{
  background: darkcyan;
}
.div3{
  background: crimson;
}
