//@font-face {
//    font-family: icomoon;
//    src: url('./fonts/icomoon/icomoon.woff?-xtshf1') format('woff');
//    font-weight: normal;
//    font-style: normal;
//    unicode-range: U+e79d;
//    /*unicode-range: U+e600-e2300;*/
//    /* https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/webfont-optimization?hl=ru */
//}

//@font-face {
//font-family: FontAwesome;
//src: url('./fonts/avesome/fontawesome-webfont.woff?v=4.4.0') format('woff');
//font-weight: normal;
//font-style: normal;
//unicode-range: U+f26c, U+f02f, U+f109, U+f100, U+f101, U+f1b9, U+f0d6, U+f255, U+f256, U+f257, U+f258, U+f259, U+f182, U+f183, U+f0c7;
//}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Regular'), local('Raleway-Regular'), url('./fonts/raleway/ralewayregular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

