section.cell.header.pc.shrink.grid-x.align-center
    .grid-x.large-9.xlarge-8.grid-padding-x.cell.outline-white.wrap
        .cell.small-6.logo.align-self-middle.align-center.outline-white1
            a(href='/').name-logo.grid-x#name_logo.align-center.large-align-right
                include ../svg/logo_vector.html
            #txt-logo.text-center.cell.align-self-middle Ремонт электроники
        .cell.small-6.point.logo.text-center.align-self-middle.h5
            div пгт.Тисуль, ул.Октябрьская-3, оф.12<br/>
            a(href="tel:+7-951-607-66-85").phone т. 8-951-607-66-85
