extends ./base
block title
    |Ремонт электроники/телефонов в Тисуле | установка антенн | заправка картриджей
block main
    .grid-x.margin-1.case-service.large-up-2.align-center.grid-margin-x.padding-0
        include item-service
        -
            var items = [
            {name:'ремонт компьютеров', phone: 'т. 8-951-607-66-85', icon:"&#xe797;", svg:'pc', link: '/pc.html'},
            {name:'ремонт телефонов', phone: 'т. 8-951-607-66-85', icon:"&#xe646;", svg:'phone', link: '#'},
            {name:'установка антенн,<br>спутниковое ТВ', phone: 'т. 8-951-607-66-85', icon:"&#xe649;", svg:'tv', link: '#'},
            {name:'заправка картриджей', phone: 'т. 8-951-607-66-85', icon:"&#xe643;", svg:'printer', link: '#'}
            ]
        each val in items
            +item-service(val.name, val.phone, val.icon, val.svg, val.link)
