// 720
@media screen and (min-width: 45em){
}
// 1080
@media screen and (min-width: 67.5em){
}

@media screen and (min-width: 70em){
}

@media screen and (min-width: 80em){
}

@media screen and (min-width: 85em){
}

@media screen and (min-width: 90em){
}

@media screen and (min-width: 120em){
}

@media screen and (min-width: 146em){
}

@media screen and (min-width: 20em) and (orientation: portrait){
//(device-aspect-ratio: 1/2){
  body{
    font-size: 14px;
  }
  footer{
    font-size: 0.75em;
    .feedback{
      margin-left: 2em;
    }
  }
  .case-service .service.cell {
    width: calc(80vw);
    height: calc(20vh);
  }
  .service .icon{
    width: 40%;
  }
  .case-name .name h2{
    font-size: 1em;
  }
  .case-name .phone{
    font-size: smaller;
  }
  #svg-logo_vector{
    width: 35%;
    height: 35%;
  }

  .header .wrap, footer .wrap{
    width: 100% !important;
  }
  .case-service .service{
    margin-bottom: 1em !important;
  }
}

@media screen and (min-width: 45em) and (orientation: portrait){
//(device-aspect-ratio: 1/2){
  body{
    //font-size: 40px;
  }
  footer{
    font-size: 0.75em;
    .feedback{
      margin-left: 2em;
    }
  }
  .case-service .service.cell {
    width: calc(73vw);
    height: calc(17vh);
  }
  .service .icon{
    width: 40%;
  }
  .case-name .name h2{
    font-size: 1em;
  }
  .case-name .phone{
    font-size: smaller;
  }
  //#svg-logo_vector{
  //  width: 100%;
  //}
  .name-logo{
    //transform: scale(1.25)
  }
  .header .wrap, footer .wrap{
    width: 100% !important;
  }

}

@media screen and (min-width: 45em) and (orientation: landscape){
  .case-service{
    margin-top: 2rem;
  }
  .case-service .service.cell {
    width: calc(35vw);
    height: calc(32vh);
    margin-left: .80em;
    margin-right: .80em;
  }
  .service .icon{
    width: 40%;
  }
  .case-name .name h2{
    font-size: 0.95em;
  }
  .case-name .phone{
    font-size: smaller;
  }

}

@media screen and (min-width: 67.5em) and (orientation: portrait) {
  body{
    font-size: 3em;
  }
  .case-service{
    margin-top: 2em;
  }

  #svg-logo_vector{
    width: 100%;
  }
  .name-logo{
    transform: scale(1.10)
  }
  body{
    //font-size: 40px;
  }
  .case-service .service.cell {
    width: calc(73vw);
    height: calc(17vh);
  }
  .service .icon{
    width: 40%;
  }
  .case-name .name h2{
    font-size: 1em;
  }
  .case-name .phone{
    font-size: smaller;
  }
  //#svg-logo_vector{
  //  width: 100%;
  //}
  .name-logo{
    //transform: scale(1.25)
  }

}

@media screen and (min-width: 67.5em) and (orientation: landscape) {
  .case-service .service.cell {
    width: calc(35vw);
    height: calc(32vh);
  }
  .service .icon{
    width: 40%;
  }
  .case-name .name h2{
    font-size: 0.95em;
  }
  .case-name .phone{
    font-size: smaller;
  }
}

@media screen and (min-width: 70.31em) and (orientation: portrait){
  .name-logo{
    transform: scale(1.3)
  }
  body{
    //font-size: 40px;
  }

  .case-service .service{
    margin-bottom: 1.5em !important;
  }
  .case-service .service.cell {
    width: calc(73vw);
    height: calc(17vh);
  }
  .service .icon{
    width: 40%;
  }
  .case-name .name h2{
    font-size: 1em;
  }
  .case-name .phone{
    font-size: smaller;
  }
  //#svg-logo_vector{
  //  width: 100%;
  //}
  .name-logo{
    //transform: scale(1.25)
  }

}

@media screen and (min-width: 70.31em) and (orientation: landscape){
  .case-service .service.cell {
    width: calc(35vw);
    height: calc(32vh);
  }
  .service .icon{
    width: 40%;
  }
  .case-name .name h2{
    font-size: 0.95em;
  }
  .case-name .phone{
    font-size: smaller;
  }
}

@media screen and (min-width: 80em) and (orientation: portrait){
  #svg-logo_vector{
    width: auto;
  }
  .name-logo{
    transform: scale(1.3)
  }
}

@media screen and (min-width: 80em) and (orientation: landscape){
  body{
    font-size: 1.5em;
  }
  .case-service .service.cell {
    margin-bottom: 3rem !important;
    width: calc(33vw);
    height: calc(19vw);
  }
  footer{
    font-size: 0.75em;
    .feedback{
      margin-left: 2em;
    }
  }
}

@media screen and (min-width: 85em) and (orientation: portrait){
  body{
    font-size: 4.0em;
  }
}

@media screen and (min-width: 85em) and (orientation: landscape){
  body{
    font-size: 1.8em;
  }
  #svg-logo_vector{
    //width: 100%;
  }
  .name-logo{
    //transform: scale(1.0)
  }

  .case-service .service.cell {
    margin-bottom: 3rem !important;
    width: calc(33vw);
    height: calc(28vh);
  }
  .service .icon{
    width: 35%;
  }



}

@media screen and (min-width: 90em) and (orientation: portrait){
  body{
    font-size: 3.5em;
  }
  #svg-logo_vector{
    //width: 100%;
  }
  .name-logo{
    transform: scale(1.3)
  }
}

@media screen and (min-width: 90em) and (orientation: landscape){
  .case-service .service.cell {
    width: calc(33vw);
    height: calc(28vh);
  }
  footer{
    font-size: 0.75em;
    .feedback{
      margin-left: 2em;
    }
  }
}

// 1920 - border browser (desktop)
@media screen and (min-width: 115em) and (orientation: landscape){
  .case-service .service.cell {
    margin-bottom: 3rem !important;
  }
  .case-service{
    margin-top: 2em !important;
  }

  footer{
    font-size: .9em;
  }
  body{
    font-size: 2em;
  }
  .case-service .service.cell {
    width: calc(33vw);
    height: calc(28vh);
  }
  .service .icon{
    width: 35%;
  }
  .name-logo{
    transform: scale(1.0)
  }

}

@media screen and (min-width: 120em) and (orientation: portrait){
}

@media screen and (min-width: 120em) and (orientation: landscape){
}

@media screen and (min-width: 146.25em) and (orientation: portrait){
}

@media screen and (min-width: 146.25em) and (orientation: landscape){
  body{
    font-size: 3em;
  }
  .case-service{
    margin-top: 1em !important;
  }

  #svg-logo_vector{
    //width: 100%;
  }
  .name-logo{
    transform: scale(1.15)
  }

  .case-service .service.cell {
    margin-bottom: 4rem !important;
    width: calc(33vw);
    height: calc(31vh);
  }
  .service .icon{
    width: 35%;
  }
  footer{
    font-size: 0.75em;
    .feedback{
      margin-left: 2em;
    }
  }
}

@media screen and (min-width: 185em) and (orientation: portrait){
}

@media screen and (min-width: 180em) and (orientation: landscape){

}

// 2340, 2560
@media screen and (min-width: 160em) and (orientation: landscape){
  body{
    font-size: 3em;
  }
  .name-logo{
    transform: scale(1.3)
  }
}

// 2340, 2560
@media screen and (min-width: 185em) and (orientation: landscape){
  body{
    font-size: 4em;
  }
  .case-service .service.cell {
    width: calc(34vw);
    height: calc(32vh);
  }
  .service .icon{
    width: 35%;
  }
  .name-logo{
    transform: scale(1.5)
  }
}

//.tst{
//  background: olivedrab;
//  width: 200px;
//  height: 150px;
//}
// стили ниже устанавливаются как только экран становиться
// шире указанной ниже
//@media print, screen and (min-width: 1024px){
@media print, screen and (min-width: 64em){
  .tst{
    background: crimson;
  }
}

