<style>
    #svg-name-vector{
        /*outline: 1px solid blue;*/
        /*fill: blue;*/
        height: 100%;
        width: 75%;
        /*width: 100px;*/
        /*height: 150px;*/
    }

</style>

<template id="tpl-name-vector">
    <div class="position-center">
        <svg xmlns="http://www.w3.org/2000/svg" id="svg-name-vector"
             class="svg-canvas"
             width="500" height="500"
        >
             <!--viewBox="-3 -3 288 288"-->
            <!--width="282", height="282", real size-->
            <g font-weight="700" font-size="11" font-family="Segoe UI" letter-spacing="0"
               word-spacing="0" text-anchor="middle" fill="#2a2aff">

                <path d="M107 34v4h-3V26h5q5 0 5 4l-2 3-3 1zm0-6v4h1q3 0 3-2t-3-2zM124
                38h-8V26h7v2h-4v3h4v2h-4v2h5zM141 38h-3v-7-3l-1 2-3 8h-2l-3-8-1-2v10h-2V26h4l3
                7v2l1-2 2-7h5zM149 38q-3 0-5-2l-1-4 1-4q2-2 5-2t5 2l1 4-1 4q-2 2-5
                2zm0-10l-2 1-1 3 1 3 2 1 2-1 1-3-1-3-2-1zM169 38h-3v-5h-5v5h-3V26h3v5h5v-5h3zM181
                 28h-4v10h-3V28h-3v-2h10z" stroke="#2ed9ff"></path>

                <path d="M104 49v-1h1l2-1h-2v-1h2l-2-1h-1v-1h4l1 3-1 2h-4zM116 49h-2v-4h-1l-1
                 3-2 1h-1v-1h1l1-1v-3h5zM123 47h-4l2 1h2v1h-5l-1-2 1-3h4l1 2zm-2-1l-1-1h-1v1zM130
                  49h-2l-2-2v2h-2v-5h2v2l2-2h2l-2 2zM136 45h-2v4h-2v-4h-1v-1h5zM139
                   49v3h-2v-8h2v1l2-1h2v2l-1 3h-3zm0-3v2h2v-2l-1-1h-1v1zM147 49h-2l-1-2 1-3h5l1
                    2-1 3h-3zm0-4h-1v2l1 1q2 0 2-2l-2-1zM158 49h-2v-2h-2v2h-2v-5h2v2h2v-2h2zM166
                     49h-2v-3h-1l-2 3h-2v-5h2v3h1l2-3h2zM173 49h-2l-2-2v2h-2v-5h2v2l2-2h2l-2
                      2zM180 49h-2v-3l-2 3h-2v-5h2v3l2-3h2z"></path>
            </g>

        </svg>
    </div>

    <script type="module">
//        import * as Tools from '../../public/js/Tools.js';
//        import * as Svg from '../../public/js/Svg.js';
        (function () {
            let
                name='name-vector',
                obj= {
                    strokeWidth: 6,
                    width: 282,
                    height: 282
                }
//            Svg.svgInit(name, obj)
        })()
    </script>
</template>
