extends ./base
block title
    |Ремонт компьютеров/ноутбуков в Тисуле
block main
    .cell.outline-white.small-11
        .h4 ПК/ноутбуки
        .cell.grid-x
            .cell.name.small-8 Работа с програмным обеспечением (установка, настройка, разблокировка, оптимизация, итд.)
            .cell.price.small-4.outline-crimson 800
            .cell.name.small-8 Восстановление разъёма питания ноутбука
            .cell.price.small-4 800
            .cell.name.small-8 Замена жесткого диска
            .cell.price.small-4       900
            .cell.name.small-8 Замена матрицы ноутбука
            .cell.price.small-4  700
            .cell.name.small-8 Замена клавиатуры ноутбука
            .cell.price.small-4 300-800
            .cell.name.small-8 Профилактика системы охлаждения
            .cell.price.small-4 700
            .cell.name.small-8 Замена видеочипа на ноутбуке
            .cell.price.small-4 2500
            .cell.name.small-8 Восстановление корпуса ноутбука
            .cell.price.small-4 800-1500
            .cell.name.small-8 Восстановление после попадания влаги
            .cell.price.small-4 600-1500
            .cell.name.small-8 Другие работы разного уровня сложности
            .cell.price.small-4 от 300

