@import '../variables.scss';

@media (min-width: 480px) {

}

@media (min-width: 640px) {}

@media (min-width: 720px) {
  .docs-section{
    height: 260px;
  }
}

@media (min-width: 900px) {
  .docs-section{
    height: 325px;
  }
}

@media (min-width: 1080px) {}

@media (min-width: 1280px) {
  .docs-section {
    height: 400px;
  }
}

@media (min-width: 1440px) {
  .docs-section {
    height: 500px;
  }

}

@media (min-width: 1600px) {}

@media (min-width: 1800px) {}

@media (min-width: 1900px) {}

