@import '../variables.scss';
@import "./foundation-sites/settings";

html{
  font-size: calc(6px + 1vw + 1vh);
}

body{
  margin: 0 auto;
  background: $color-fone;
}

#svg-logo_vector{
  width: 25%;
  height: 25%;
}

.case-service .service.cell {
  height: calc(22vh);
  min-height: 150px;
  //width: 100%;
}

.tst{
  background: crimson;
}

@include dev($dev) {
  .wcap:before {
    content: 'small';
    color: yellow;
    position: absolute;
    top: 0;
    left: 50%;
  }
}

@include breakpoint(medium) {
  @include dev($dev) {
    .tst{
      background: $color-fone;
    }
    .wcap:before {
      content: 'medium';
    }
  }
  html{
    font-size: 27px;
  }
}

@include breakpoint(large) {
  @include dev($dev) {
    .wcap:before {
      content: 'large';
    }
    .tst {
      background: green;
    }
  }
  html{
    font-size: calc(6px + .53vw + .53vh);
  }
  #svg-logo_vector{
    width: 75px;
    height: auto;
  }
  .case-service .service.cell {
    width: 45%;
  }

  footer{
    font-size: .75rem;
  }
}

@include breakpoint(xlarge) {
  @include dev($dev) {
    .wcap:before {
      content: 'xlarge';
    }
    .tst {
      background: #a8593c;
    }
  }
  .case-service .service.cell {
    width: 40%;
  }
  #svg-logo_vector{
    width: 60px;
  }
}


.responsive-table {
  counter-reset: heading; /* Инициируем счетчик */
  li {
    //position: relative;
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 8px 8px 7px 5px rgba(0, 0, 0, 0.1);
    //box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  li:nth-child(odd){
    background: #FFDAB1;
  }
  li:before{
    top:0;
    left: 0;
    margin: 0 0 0 3px;
    font-size: .7rem;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 3px;
    //background: #5891A2;
    color: $color-header;
    font-family: $prime-font;
    font-weight: bold;
    counter-increment: heading; /* Указываем идентификатор счетчика */
    content: counter(heading) "."; /* Выводим текст перед содержимым тега <h2> */
  }
  .col-2{
    font-weight: 700;
  }


}

.color-head{
  color: $color-header;
}

.color-body{
  color: $color-header;
}

.color-lite{
  color: $color-lite;
}

i{
  font-family: $icon-font;
  font-style: normal;
  margin: 0 8px;
  //font-size: 3em;
  //color: #ff8e47;
}

.header{
  background: $color-header;
}

.header.mobile{
  display: none;
}

@media screen and (orientation: portrait){
  .case-vdiv{
    display: none;
  }
}

.vdiv{
  border-left: dotted 2px $text_blue;
  //margin: 10px 0;
  //height: 50%;
  width: 2px;
  padding: 0 !important;
}


.case-name .phone{
  //background: black;
  //color: $icon_color;
  font-family: $name-font;
}

.header .wrap{
  padding: 10px 0;
}

footer{
  background: $color-header;
  a{
    color: $text_blue;
    font-size: smaller;
  }
}

.content{
  outline: $outline-green;
  box-sizing: border-box;
  margin: 25px 0;
}

.docs-section {
  box-sizing: border-box;
  background: $color-card;
}

.service{
  background: $color-card;
  outline: $outline-blue;
}

#txt-logo{
  text-transform: uppercase;
  //color: #d9d9d9;
  //background: #e8e8e8;
  //text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
  //background: #FFFFFF;
  //color: $main_blue_logo;
  color: $color-header;
  text-shadow: $stroke_logo $stroke_logo 0 $main_blue_logo, $stroke_logo $stroke_logo_offset 0 $main_blue_logo, $stroke_logo_offset $stroke_logo 0 $main_blue_logo, $stroke_logo_offset $stroke_logo_offset 0 $main_blue_logo, $stroke_logo 0 0 $main_blue_logo, 0 $stroke_logo 0 $main_blue_logo, $stroke_logo_offset 0 0 $main_blue_logo, 0 $stroke_logo_offset 0 $main_blue_logo;
  letter-spacing: .15rem;
  font-weight: 700;
  //font-family: $btn-font;
  font-family: $name-font;
}

.case-service a{
  color: $icon_color;
}

.icon{
  outline: $outline-crimson;
  //width:50%;
  //font-size: xx-large;
  box-sizing: border-box;

}

.caption{
  box-sizing: border-box;
  padding: 0 10px;

  .name{
    font-family: $prime-font;
    vertical-align: middle;
    text-align: center;
    outline: $outline-whitesmoke;
  }
  a{
    text-decoration: none;
  }
}

.fone{
  font-size: 2.5rem;
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  width: 100vw;
  box-sizing: border-box;
  z-index: -1;
}

.fone-column{
  outline: $outline-crimson;
  display: inline-flex;
  min-width: 100vw;
  position: relative;
}

.fone i{
  width: 5rem;
  text-align: center;
  padding: 0 20px;
  color: rgba(0, 0, 0, 0.15);
  outline: $outline-whitesmoke;
  display: inline-block;
  margin: 0 auto;
  cursor: default;
}

.service .columns{
  outline: $outline-crimson;
  text-align: center;
}

.row.service{
  margin: 0 auto;
  box-shadow: 9px 9px 20px 2px #021a2a;
}

.service{
  box-shadow: 9px 9px 20px 2px #021a2a;
}

.case-content{
  background: $color-fone;
}

.item{
  outline: $outline-whitesmoke;
  color: $text_blue;
  margin: 0;
  padding: 5px;
  font-family: $name-font;
}

.point .phone, .point .give{
  font-weight: 700;
}

.point .give{
  text-decoration: underline;
}

.feedback{
  outline: $outline-crimson;
  a{
    padding: 5px 10px;
    display: block;
  }
}

$bg-color: #f1f1f1;
$text-color: #333333;
$highlight-color: #E74C3C;


.dialog__action{
  //z-index: 5;
  //background-color: #239057;
  //background-color: #dddddd;
  //border-color: lightgray;
  //color: lightgray;
  //color: #2c1257;
  //font-family: $name-font;
  //"Consolas", "Lucida Console";//, "Raleway", "Trebuchet MS";


  transition: all 150ms ease-out;
  transform: translateY(0px);
  &:hover, &:focus {
    outline: 0;
    //transform: translateY(-5px);
    transition: all 100ms ease-in;
    //box-shadow: 0 5px 10px rgba($text-color,0.4);
  }
  &:active {
    transform: translateY(-3px);
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  //transition: opacity 500ms;
  transition: all 200ms;
  visibility: hidden;
  opacity: 0;
  //z-index: -1;
}

.overlay.active{
  //transition: opacity 500ms;
  transition: all 200ms;
  visibility: visible;
  opacity: 1;
}

.case{
  justify-content: center;
  flex-direction: column;
  align-items: center;
  //height: 100%;
  z-index: 1;
  //display: none;
  display: flex;
  &.active{

  }
}
.policy h4{
  text-align: center;
}

.policy h5{
  text-decoration: underline;
}

.tpl {
  display: none;
}

//.dialog {
.dialog, .policy {
  display: none;
  background: $bg-color;
  box-sizing: border-box;
  //max-width: 90%;
  position: absolute;
  //z-index: 1;
  //left: calc(50% - 35%); // half of the container width - 70%
  top: 0;
  padding: 30px;
  box-shadow: 0 10px 30px rgba($text-color,0.4);
  //border: 3px solid $text-color;
  visibility: hidden;
  opacity: 0;
  transition: all 180ms ease-in;
  &.active {
    //display: block;
    top: 15%;
    visibility: visible;
    opacity: 1;
    transition: all 250ms ease-out;
  }
  .dialog__close {
    font-size: 2rem;
    line-height: 2rem;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: 15px 20px;
    transition: all 150ms ease;

    i{
      display: inline-block;
      transition: all 500ms ease;
    }

    &:hover{
      background: #aaa;
      color: crimson;
      i{
        transform: rotate(270deg);
      }
    }


  }
  .dialog__title {
    //font-size: 2rem;
    font-family: $prime-font;
    letter-spacing: .1rem;
    font-weight: 100;
    margin: 0;
    padding: 0 0 15px 0;
    border-bottom: 2px solid $text-color;
  }
  .dialog__content {
    //font-size: 1.1rem;
    line-height: 2rem;
  }
  .dialog__action {
    margin: 0;
    //font-size: 1rem;
  }
  a{
    color: $color-card;
  }

}

.message-box{
  width: 100%;
  margin-top: 15px;
}

.feedback a{
  text-decoration: none;
  box-sizing: border-box;
}

a{
  color: $main_blue_logo;
  &:hover{
    color: $main_blue;
  }
}

.feedback a{
  color: $text_blue;
}

.feedback a:hover span{
  text-decoration: none
}

.feedback span{
  text-decoration: underline;
}

#call_me, #empty {
  button {
    margin: 10px auto;
    display: block;
  }
  textarea{
    padding: 20px;
    outline: none;
    border: 1px solid grey;
    &:focus{
      border: 1px solid #23bef5;
    }
  }


}
.terms{
  font-size: .7rem;
  //text-indent: 3rem;
  font-family: $name-font;
}

$svg-fone: rgb(163, 255, 250);
//$svg-fone: rgb(163, 255, 250);
//$svg-fone: #55ffeb;
$svg-stroke: white;
//$svg-stroke: #ccd0d2;
$svg-stroke1: #b7dfe2;
$svg-stroke2: rgba(255, 255, 255, 0);
//$svg-stroke: #fff84a;
$svg-glob: #B6EFFF;

.glob{
  fill: $svg-fone;
}

.svg-canvas{
  fill: white;
  //fill: $icon-color;
}

.svg-path{
  stroke: white;
  //stroke: $svg-stroke;
}

.call, .send_author{
  border: none;
  border-radius: 0;
  //background-color: transparent;
  background-color: rgba(0, 0, 0, 0);
  transition: 1s;
  color: #63daff;
  cursor: pointer;
  //outline: 1px dotted yellow;
  box-sizing: border-box;
}

.call:hover{
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.15);
}

.logo{
  //display: flex;
  color: $text_blue;
}

.name h2{
  //span{
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 1px dotted transparent;
  //}
  &:hover{
    border-bottom: 1px dotted white;
  }
}

#svg-logo_vector{
  fill: $main_blue_logo;
}

.outline-crimson{
  outline: $outline-crimson;
}

.outline-blue{
  outline: $outline-blue;
}

.outline-white{
  outline: $outline-whitesmoke;
}

.bg-red{
  background: red;
}

.bg-olive{
  background: olivedrab;
}

