@font-face {
  font-family: 'fontello';
  /*src: url('../font/fontello.eot?39268915');*/
  src:
          /*url('../font/fontello.eot?39268915#iefix') format('embedded-opentype'),*/
       url('../font/fontello.woff2?39268915') format('woff2'),
       url('../font/fontello.woff?39268915') format('woff');
       /*url('../font/fontello.ttf?39268915') format('truetype'),*/
       /*url('../font/fontello.svg?39268915#fontello') format('svg');*/
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?39268915#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-print:before { content: '\e800'; } /* '' */
.icon-monitor:before { content: '\e801'; } /* '' */
.icon-mobile-1:before { content: '\e802'; } /* '' */
.icon-desktop-1:before { content: '\e803'; } /* '' */
.icon-laptop-1:before { content: '\e804'; } /* '' */
.icon-tablet-1:before { content: '\e805'; } /* '' */
.icon-mobile-2:before { content: '\e806'; } /* '' */
.icon-mobile-3:before { content: '\e807'; } /* '' */
.icon-tablet-2:before { content: '\e808'; } /* '' */
.icon-mobile-4:before { content: '\e809'; } /* '' */
.icon-mobile-alt:before { content: '\e80a'; } /* '' */
.icon-desktop-2:before { content: '\e80b'; } /* '' */
.icon-laptop-2:before { content: '\e80c'; } /* '' */
.icon-desktop-3:before { content: '\e80d'; } /* '' */
.icon-tv:before { content: '\e80e'; } /* '' */
.icon-mobile-5:before { content: '\e80f'; } /* '' */
.icon-print-1:before { content: '\f087'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */

.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */