<style>
    #svg-logo_vector{
        /*outline: 1px solid red;*/
        /*height: 70px;*/
        /*width: 70px;*/
    }

</style>

<template id="tpl-logo_vector">
    <!--<div class="shrin1k">-->
        <svg xmlns="http://www.w3.org/2000/svg" id="svg-logo_vector"
             class="svg-canvas align-self-middle"
             width="100" height="100"
             viewBox="0 270 27 27"
        >
            <g>
                <path d="M22.68 293.69a.47.47 0 0 1-.33-.14l-5.67-5.67a.48.48 0 0 1 0-.67.48.48 0 0 1 .67 0l5.67 5.67c.18.19.18.49 0 .67-.1.1-.22.14-.34.14" fill="#f60"></path><path d="M26.19 291.6l-7.57-7.56a.95.95 0 0 0-.48-.26l-1.74-.34-.35-1.75a.94.94 0 0 0-.93-.76c-.24 0-.49.1-.67.28l-.75.75-7.08-7.1v-.55c0-.25-.1-.49-.28-.67l-2.84-2.83a.94.94 0 0 0-1.33 0l-1.9 1.9a.94.94 0 0 0 0 1.33l2.84 2.83c.18.18.42.28.67.28h.55l7.1 7.09-.76.75a.95.95 0 1 0 .48 1.6l1.75.34.35 1.75c.04.18.12.35.26.48l7.56 7.56c.18.18.42.28.67.28 2.43 0 4.72-2.3 4.72-4.73 0-.25-.1-.49-.27-.67zM.94 273.37l1.9-1.9.6.62-1.89 1.89zm3.79 2.83h-.95l-1.56-1.55 1.9-1.9 1.55 1.56v.95l7.37 7.37-.95.94zm17 19.85l-7.55-7.56-.48-2.36-2.36-.47 3.78-3.79.47 2.37 2.37.47 7.56 7.56a4.07 4.07 0 0 1-3.78 3.78z"></path><path d="M12.8 286.5l-5.87 5.87a.94.94 0 0 0-.28.67 2.82 2.82 0 1 1-2.82-2.82c.25 0 .49-.1.67-.28l6.73-6.73-.35-.49-.34-.15-6.7 6.7a3.75 3.75 0 0 0-2.67 6.43 3.76 3.76 0 0 0 6.42-2.66l5.97-5.96s-.56-.4-.77-.57M25.89 273.8l-3.26 3.26h-2.82v-2.82l3.26-3.26a5.63 5.63 0 0 0-7.72 6.78l-3.32 3.32.1.14.65.45 2.96-2.97a5.65 5.65 0 0 0 2.43 2.43l-2.28 2.28.29.36.51.17 2.42-2.42a5.65 5.65 0 0 0 6.78-7.72zm-5.14 7.02a4.7 4.7 0 1 1 .52-9.37l-2.12 2.12a.94.94 0 0 0-.28.67v2.82c0 .52.42.94.94.94h2.82c.25 0 .49-.1.66-.28l2.13-2.12a4.7 4.7 0 0 1-4.67 5.22z"></path><path d="M6.18 290.22a.47.47 0 0 0 .8.33l4.56-4.56h-.29l-.63-.42-.74.75-3.56 3.57c-.1.09-.14.2-.14.33M15.57 281.84l-.13.25a.47.47 0 0 0 .13-.25"></path>
                <path d="M3.83 291.16a1.88 1.88 0 1 0 0 3.76 1.88 1.88 0 0 0 0-3.76zm0 2.82a.94.94 0 1 1 0-1.88.94.94 0 0 1 0 1.88z" fill="#f60"></path>
            </g>
        </svg>
    <!--</div>-->

</template>
