<style>
    #svg-name_vector{
        /*outline: 1px solid red;*/
        /*fill: blue;*/
        /*height: 100%;*/
        /*width: 75%;*/
        /*width: 100px;*/
        /*height: 150px;*/
    }

</style>

<template id="tpl-name_vector">
    <!--<div class="">-->
        <svg xmlns="http://www.w3.org/2000/svg" id="svg-name_vector"
             class="svg-canvas"
             viewBox="-25 185 350 120"
             width="115" height="40"

        >
             <!--width="300" height="100"-->
            <!--width="1134", height="385", real size-->
                <path d="M14 226v15H2v-44h18q19 0 19 14 0 7-5 11-6 4-15 4zm0-21v13h4q9 0 9-6 0-7-9-7zM77 241H47v-44h29v8H58v10h16v8H58v10h19zM142 241h-11v-26l1-10h-1l-1 6-12 30h-9l-12-29-2-7v36H85v-44h17l10 26 2 7 2-7 10-26h16zM175 242q-11 0-18-6-6-6-6-16 0-11 7-17 7-7 18-7t17 7q7 6 7 16t-7 17q-7 6-18 6zm1-37q-6 0-10 4-3 4-3 10 0 7 3 11 4 3 9 3 6 0 10-3 3-4 3-11 0-6-3-10-4-4-9-4zM252 241h-11v-18h-21v18h-12v-44h12v18h21v-18h11zM299 205h-15v36h-11v-36h-14v-8h40z"></path>
                <path d="M1 286v-5l6 1q5 0 6-4H4v-4h9q-1-5-7-5-3 0-5 2v-5l7-1q6 0 9 3t3 8q0 5-3 8t-9 3l-7-1zM48 286h-8v-16h-4q-1 10-4 13-2 4-7 4l-3-1v-4h2q2 0 4-3l2-14h18zM75 278H60q0 4 6 4l7-1v4q-3 2-9 2-5 0-8-3-4-3-4-8t4-8q3-3 8-3t8 3q3 2 3 7zm-7-4q0-5-4-5-2 0-3 2l-1 3zM103 286h-9l-7-10v10h-7v-21h7v10l7-10h9l-9 10zM124 270h-6v16h-8v-16h-6v-5h20zM135 284v12h-7v-31h7v4q3-4 8-4t7 3q3 3 3 7 0 6-3 9t-8 3q-4 0-7-3zm0-9v2l1 4 4 1 4-2 1-5q0-5-5-5l-4 1-1 4zM169 287q-6 0-10-3-3-3-3-8t4-8q3-3 9-3t9 3q4 3 4 8t-4 8q-3 3-9 3zm0-17l-4 1q-2 2-2 5 0 6 6 6 5 0 5-6t-5-6zM210 286h-8v-8h-8v8h-7v-21h7v8h8v-8h8zM239 286h-6v-13l-2 3-8 10h-7v-21h6v14l2-3 8-11h7zM269 286h-8l-8-10v10h-7v-21h7v10l7-10h9l-9 10zM296 286h-7v-13l-2 3-8 10h-7v-21h7v14l2-3 8-11h7z"></path>
        </svg>
    <!--</div>-->

</template>
