<template id="tpl-pc">

    <style>
        #svg-pc{
            /*outline: 1px solid red;*/
            /*fill: blue;*/
            height: 90%;
            width: 90%;
            /*width: 100px;*/
            /*height: 150px;*/
        }

    </style>

    <!--<div class="">-->
        <!-- ширину и высоту svg и viewBox лучше продублировать здесь, тк сначала браузер отрисует
        так как указано здесь, а потом исполниться скрипт, те будет мигание -->
        <svg xmlns="http://www.w3.org/2000/svg" id="svg-pc"
             class="svg-canvas"
             width="237"
             height="150"
             viewBox="-2 256 67 42"
        >
            <circle id="glob-pc" class="glob" r=0 cx=37 cy=275
                    mask="url(#pc_mask)">
                <animate
                        id="pc_anim"
                        attributeName="r"
                        values="0; 27"
                        dur="0.15s"
                        begin="indefinite"
                        repeatCount="1"  fill="freeze"  calcMode="linear">
                </animate>
                <animate
                        id="pc_anim2"
                        attributeName="r"
                        values="27;0"
                        dur="0.15s"
                        begin="indefinite"
                        repeatCount="1"  fill="freeze"  calcMode="linear">
                </animate>
            </circle>

            <g
                    class="svg-path"
                    id="pc_svg-path"
                    stroke="none"
            >

                <path name="system"
                        d="M.92 257.51c-.44 0-.8.33-.8.72v35.8c0 .4.36.73.8.73h15.24c.44 0 .8-.32.8-.72v-4.02h-2.7a2 2 0 0 1-1.99-2v-19.86H3.2v-2.2h9.07v-1.54H3.2v-2.2h9.07v-.25a2 2 0 0 1 2-2h2.69v-1.74c0-.4-.36-.72-.8-.72zm7.62 30.27a1.42 1.42 0 0 1 .14 0 1.42 1.42 0 0 1 .14.03 1.42 1.42 0 0 1 .14.03 1.42 1.42 0 0 1 .13.05 1.42 1.42 0 0 1 .13.06 1.42 1.42 0 0 1 .12.07 1.42 1.42 0 0 1 .12.1 1.42 1.42 0 0 1 .1.09 1.42 1.42 0 0 1 .1.1 1.42 1.42 0 0 1 .08.12 1.42 1.42 0 0 1 .07.12 1.42 1.42 0 0 1 .05.13 1.42 1.42 0 0 1 .05.14 1.42 1.42 0 0 1 .03.13 1.42 1.42 0 0 1 .02.14 1.42 1.42 0 0 1 0 .1 1.42 1.42 0 0 1 0 .15 1.42 1.42 0 0 1-.03.14 1.42 1.42 0 0 1-.03.13 1.42 1.42 0 0 1-.05.14 1.42 1.42 0 0 1-.06.12 1.42 1.42 0 0 1-.08.13 1.42 1.42 0 0 1-.08.1 1.42 1.42 0 0 1-.1.11 1.42 1.42 0 0 1-.1.1 1.42 1.42 0 0 1-.12.08 1.42 1.42 0 0 1-.12.07 1.42 1.42 0 0 1-.13.06 1.42 1.42 0 0 1-.14.04 1.42 1.42 0 0 1-.14.03 1.42 1.42 0 0 1-.14.02 1.42 1.42 0 0 1-.1 0 1.42 1.42 0 0 1-.14 0 1.42 1.42 0 0 1-.14-.03 1.42 1.42 0 0 1-.14-.03 1.42 1.42 0 0 1-.13-.05 1.42 1.42 0 0 1-.13-.06 1.42 1.42 0 0 1-.12-.08 1.42 1.42 0 0 1-.11-.08 1.42 1.42 0 0 1-.1-.1 1.42 1.42 0 0 1-.1-.1 1.42 1.42 0 0 1-.08-.12 1.42 1.42 0 0 1-.07-.12 1.42 1.42 0 0 1-.06-.13 1.42 1.42 0 0 1-.04-.14 1.42 1.42 0 0 1-.03-.13 1.42 1.42 0 0 1-.02-.14 1.42 1.42 0 0 1 0-.1 1.42 1.42 0 0 1 0-.15 1.42 1.42 0 0 1 .02-.14 1.42 1.42 0 0 1 .04-.13 1.42 1.42 0 0 1 .05-.14 1.42 1.42 0 0 1 .06-.12 1.42 1.42 0 0 1 .07-.13 1.42 1.42 0 0 1 .09-.1 1.42 1.42 0 0 1 .1-.11 1.42 1.42 0 0 1 .1-.1 1.42 1.42 0 0 1 .12-.08 1.42 1.42 0 0 1 .12-.07 1.42 1.42 0 0 1 .13-.06 1.42 1.42 0 0 1 .13-.04 1.42 1.42 0 0 1 .14-.03 1.42 1.42 0 0 1 .14-.02 1.42 1.42 0 0 1 .1 0z"
                        stroke-opacity="0"
                >
                    <animate
                            id="pc_anim3"
                            attributeName="stroke-opacity"
                            values="0;1"
                            dur="0.15s"
                            begin="indefinite"
                            repeatCount="1"  fill="freeze"  calcMode="linear">
                    </animate>
                    <animate
                            id="pc_anim4"
                            attributeName="fill-opacity"
                            values="1;0"
                            dur="0.15s"
                            begin="indefinite"
                            repeatCount="1"  fill="freeze"  calcMode="linear">
                    </animate>
                    <animate
                            id="pc_anim5"
                            attributeName="stroke-opacity"
                            values="1;0"
                            dur="0.15s"
                            begin="indefinite"
                            repeatCount="1"  fill="freeze"  calcMode="linear">
                    </animate>
                    <animate
                            id="pc_anim6"
                            attributeName="fill-opacity"
                            values="0;1"
                            dur="0.15s"
                            begin="indefinite"
                            repeatCount="1"  fill="freeze"  calcMode="linear">
                    </animate>
                </path>
                <path name="pc"
                        d="M14.27 259.97a2 2 0 0 0-2 2v26.05c0 1.1.9 2 2 2h22.36v4.6h-9.66v2.26h20.9v-2.27H38.2v-4.6h22.37a2 2 0 0 0 2-2v-26.04a2 2 0 0 0-2-2zm2.26 3.4H58.3c.4 0 .74.33.74.73v21.8c0 .4-.33.72-.74.72H16.53a.73.73 0 0 1-.73-.73v-21.8c0-.4.33-.72.73-.72z"
                        stroke-opacity="1"
                >
                    <animate
                            id="pc_anim7"
                            attributeName="stroke-opacity"
                            values="0;1"
                            dur="0.15s"
                            begin="indefinite"
                            repeatCount="1"  fill="freeze"  calcMode="linear">
                    </animate>
                    <animate
                            id="pc_anim8"
                            attributeName="fill-opacity"
                            values="1;0"
                            dur="0.15s"
                            begin="indefinite"
                            repeatCount="1"  fill="freeze"  calcMode="linear">
                    </animate>
                    <animate
                            id="pc_anim9"
                            attributeName="stroke-opacity"
                            values="1;0"
                            dur="0.15s"
                            begin="indefinite"
                            repeatCount="1"  fill="freeze"  calcMode="linear">
                    </animate>
                    <animate
                            id="pc_anim10"
                            attributeName="fill-opacity"
                            values="0;1"
                            dur="0.15s"
                            begin="indefinite"
                            repeatCount="1"  fill="freeze"  calcMode="linear">
                    </animate>

                </path>

            </g>
                <defs>
                    <mask id="pc_mask">
                        <path
                                d="M16.53 263.37H58.3c.4 0 .74.33.74.73v21.8c0 .4-.33.72-.74.72H16.53a.73.73 0 0 1-.73-.73v-21.8c0-.4.33-.72.73-.72z"
                                fill="white"
                        ></path>
                    </mask>
                </defs>

        </svg>
    <!--</div>-->

    <script>
        //    <script type="module">
        //        import * as Tools from '../js/Tools.js';
        //        import * as Svg from '../js/Svg.js';
        /*
         * после того как закончена работа с данным файлом импорты можно отключить,
         * (во избежании лишних запросов в prode), при условии, что
         * данные библиотеки представлены в глобальной области
         *
         * вышеуказанные импорты необходимы только для code compition in IDE
         * данные библиотеки представлены в глобальной области, строки:
         * window.Tools = Tools
         * window.Svg = Svg
         * в файле main.js
         * кроме того данные ф-лы копируются в папку public, настройка
         * new CopyWebpackPlugin([ { from: 'src/js', to: 'js', toType: 'dir' }])
         * для того, чтобы обеспечить работу сайта в среде полноценного веб сервера
         *
         * */
        (function () {
            var
                name='pc',
//                obj= {
//                    strokeWidth: 15,
//                    width: 237,
//                    height: 150
//                },
                parent = Tools.getSel('#tpl-'+name).parentNode.parentNode,
//                trigger = parent;
                trigger = parent.querySelector('.caption .name');
//            Svg.svgInit(name, obj);
            Svg.runAnimate(trigger, 'mouseenter', name, false, 'anim','anim3','anim4','anim7','anim8');
            Svg.runAnimate(trigger, 'mouseleave', name, false, 'anim2','anim5','anim6','anim9','anim10')
        })()

    </script>

</template>
