<style>
    #svg-printer{
        /*outline: 1px solid blue;*/
        /*fill: blue;*/
        height: 75%;
        width: 75%;
        top: 15px;
        position: relative;
        /*width: 100px;*/
        /*height: 150px;*/
    }

</style>

<template id="tpl-printer">
    <!--<div class="">-->
        <svg xmlns="http://www.w3.org/2000/svg" id="svg-printer"
             class="svg-canvas"
             width="275" height="300"
             viewBox="-3 -3 281 306"
        >
            <!--width="275", height="223", real size-->
            <g
                    class="svg-path"
                    transform="translate(0,-300)"
            >
                <path id="printer_svg-path"
                      stroke-opacity="0"
                      d="M18 397 c-10 0-18 8-18 18v85c0 10 8 18 18 18h59 v-51h121v51h58c10 0 18-8 18-18v-85c0-10-8-18-18-18 H18z m16 15 a16 16 0 0 1 16 17 16 16 0 0 1-16 16 16 16 0 0 1-16-16 16 16 0 0 1 16-17z"
                >
                    <animate id="printer_fillOff"
                             begin="indefinite" dur="0.15s"
                             repeatCount="1" fill="freeze" calcMode="linear"
                             attributeName="fill-opacity" values="1;0">
                    </animate>
                    <animate id="printer_fillOn"
                        begin="indefinite" dur="0.15s"
                        repeatCount="1" fill="freeze" calcMode="linear"
                        attributeName="fill-opacity" values="0;1">
                    </animate>
                    <animate id="printer_animStrokeOn"
                             begin="indefinite"
                             dur="0.15s"
                             repeatCount="1" fill="freeze" calcMode="linear"
                             attributeName="stroke-opacity" values="0;1">
                    </animate>
                    <animate id="printer_animStrokeOff"
                             begin="indefinite" dur="0.15s"
                             repeatCount="1" fill="freeze" calcMode="linear"
                             attributeName="stroke-opacity" values="1;0">
                    </animate>
                </path>

                <rect id="printer_blank-sheet"
                      stroke-opacity="0"
                      width="121" height="75" x="77" y="337"
                      transform="rotate(180, 137, 362)"
                >
                    <animate id="printer_animBlankFeed"
                             begin="indefinite"
                             dur="2s"
                             repeatCount="indefinite" fill="remove" calcMode="linear"
                             attributeName="height"
                             keyTimes="0; 0.35; 1"
                             values="75;75;0">
                    </animate>
                </rect>

                <rect id="printer_fill-sheet"
                      stroke-opacity="0"
                      width="111" height="15" x="82" y="473"
                >
                    <animate id="printer_animFillFeed"
                             begin="indefinite"
                             dur="2s"
                             repeatCount="indefinite"
                             fill="remove" calcMode="linear"
                             attributeName="height"
                             keyTimes="0; 0.35; 1"
                             values="15;15;90">
                    </animate>

                </rect>
                <circle id="printer_circle"
                        fill="#5BD35F" stroke="none" fill-opacity="0"
                        cx="34" cy="428.5"
                        r="13.5"
                >
                    <animate id="printer_fillSensOn"
                             attributeType="XML"
                             begin="indefinite"
                             attributeName="fill-opacity"
                             values="1;0;1"
                             dur="0.8s"
                             repeatCount="2"
                    ></animate>
                </circle>
            </g>

        </svg>
    <!--</div>-->

    <script>
//    <script type="module">
//        import * as Tools from '../js/Tools.js';
//        import * as Svg from '../js/Svg.js';
        (function(){
            var
                name='printer',
                printer = {
                    strokeWidth: 6,
                    width: 275,
                    height: 300,
                },
                svg = Tools.getSel('#svg-'+name),
                parent = Tools.getSel('#tpl-'+name).parentNode.parentNode,
                trigger = parent.querySelector('.caption .name');
//            console.log(trigger)
//                trigger = parent;
            Svg.svgInit(name, printer);

            Svg.renderSvgElem(svg, {name:name, id:'svg-path','stroke-width':6});

            if (trigger) {
                Svg.runAnimate(trigger, 'mouseenter', name, false, 'fillOff',
                    'animStrokeOn', 'fillSensOn');

                Svg.runAnimate(trigger, 'mouseenter', name, 2100, 'animBlankFeed', 'animFillFeed');

                Svg.runAnimate(trigger, 'mouseleave', name, false, 'fillOn', 'animStrokeOff')
            }
        })()
    </script>
</template>

